	body {
		background-color:#efeee7;
		font-family: "Times New Roman", Times, serif;
		color:#333;
		margin:0;
		padding:0;
	}
	header {
		background-color:#333;
		text-align:center;
	}
	h1 {
		color:#eee;
		font-size:28px;
	}
	h2 {
		font-size:24px;
	}
	.container {
		width:1024px;
		
		margin:0px;
	}
	#main-bio {
		float:left;
		width:70%;
	}
	#contact-info {
		float:left;
		width:30%;
		line-height: 36px;
	}
	#bio-image{
		float:left;
		margin-left:20px;
		width:200px;
	}
	a {
		color:red;
	}







